<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	  <classes>
		  <class name="Page_FactoryTestNG.LoginTestNG"></class>
		  <class name="Page_FactoryTestNG.Data_StructureTestNG"></class>
		  <class name="Page_FactoryTestNG.ArrayTestNG"></class>
	  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
